# Copy this file to a file called .env in the same directory and fill in the values.

PRIVATE_KEY= # 1a2b3c... your private key
INTEGRATOR_ID= # Squid integratorId can be obtained from https://l19g3aali76.typeform.com/integrator-id
RPC_ENDPOINT= # RPC endpoint URL
RADIANT_LENDING_POOL_ADDRESS= # Radiant Capital `lendingPool` address
USDC_ARBITRUM_ADDRESS= # Arbitrum USDC.e address 
